nav
    .container
        .nav-wrapper
            a.brand-logo(href='#') 二附中志愿者系统
            ul#nav-mobile.right.hide-on-med-and-down
                li.active
                    a(href='/') 主页
                li
                    a(href='/choose') 选择地点
                li
                    a(href='/usercenter') 个人中心
