#pjax-loading(style='position: fixed; top: 0px; width: 100%; z-index: 99999;')
    .progress(style='height: 10px')
        .progress-bar.progress-bar-danger.progress-bar-striped.active(role='progressbar', style='width: 100%')
