extends layout

block content
    body.register-page
        .register-box
            .register-logo
                a(href='/')
                    b 二附中志愿者管理系统
            .register-box-body.box
                p.login-box-msg 注册
                form
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='真实姓名', name='realname')
                        span.glyphicon.glyphicon-user.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='8位数学号（如20180801）', name='number')
                        span.glyphicon.glyphicon-user.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='用户名', name='username')
                        span.glyphicon.glyphicon-user.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='校园邮箱 (如hsefz\\wangxiaoming)', name='email')
                        span.glyphicon.glyphicon-envelope.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='password', placeholder='校园邮箱密码（用于验证身份）', name='emailpasswd')
                        span.glyphicon.glyphicon-send.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='password', placeholder='登录密码', name='password')
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='password', placeholder='重复密码', name='repasswd')
                        span.glyphicon.glyphicon-log-in.form-control-feedback
                    .form-group.has-feedback
                        p
                            | 注册即代表同意
                            a(href='/tos') 服务条款
                    .form-group.has-feedback
                        button#reg.btn.btn-primary.btn-block.btn-flat(type='submit') 同意服务条款并提交注册
                #msg-success.alert.alert-info.alert-dismissable(style='display: none;')
                    button#ok-close.close(type='button', aria-hidden='true') ×
                    h4
                        i.icon.fa.fa-info
                        |    成功!
                    p#msg-success-p
                #msg-error.alert.alert-warning.alert-dismissable(style='display: none;')
                    button#error-close.close(type='button', aria-hidden='true') ×
                    h4
                        i.icon.fa.fa-warning
                        |    出错了!
                    p#msg-error-p
                a.text-center(href='login') 已经注册？请登录
                .overlay(style='display: none')
                    i.fa.fa-refresh.fa-spin

block script
    script(src='/js/usercenter/register.js')
